@import url('https://fonts.googleapis.com/css2?family=Chango&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');

body {
    background: beige;
    color: #030303;
}

* {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    margin: auto;
    max-width: 1300px;
}

.intro-section h1 {
    box-shadow: 0 -12px 0 0 #eab464cf inset;
    display: inline-block;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: #F9E386;
        box-shadow: 0 -32px 0 0 #2B2202 inset;
    }
}

.intro-section p {
    font-size: 1.25em;
}

.text-content {
    max-width: 640px;
    text-align: balanced;
}

.dfihighlight {
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #26804a;
    box-shadow: 0px -16px 0px 0px #4ea57130 inset;
}

.dfihighlight a {
    color: unset;
    text-decoration: none;
}

#text {
    display: inline-block;
    padding: 0 4px;
    font-weight: 600;
    background: #2660A4;
    color: #EDF7F6;
}

.blog-section {
    margin: 4em 0;
}

.blog-card-link{
    color: inherit;
    text-decoration: none;
}

.blog-card-tags{
    background: #fbcf51;
    max-width: max-content;
    padding: 0 4px;
    z-index: 4;
}

.blog-card {
    min-width: 280px;
    display: flex;
    flex-direction: column;
}

.blog-card-thumbnail {
    padding: 0 2px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: -40px;
    z-index: 1;
    transform: translateX(10px);
    &:hover{
        transform: rotate(3deg) translateX(2px);
    }
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #3B252C;
}

.blog-card-content {
    min-height: 100px;
    background: white;
    border: 1px solid black;
    color: black;
    padding: 4px 8px;
    anchor-name: --blog-card-content;
    z-index: 5;
    & a {
        color: inherit;
        text-decoration: none;
    }
}

.blog-card-title {
    font-weight: bold;
    font-size: 12px;
}

.blog-card-desc {
    font-size: 12px;
}

.blog-card-time {
    font-size: 12px;
    text-align: right;
}

.footer {
    padding: 2em 2em 4em 2em;
    /* background: rgb(237 181 38); */
    background: #84ACCE;
    color: beige;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    & * {
        color: beige;
    }

    &>* {
        max-width: 1300px;
        margin: auto;
    }

    & .footer-setallite {
        position: absolute;
        margin-top: -2.5em;
        & svg {
            height: 50px;
            width: 50px;
            animation-name: float;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
    }
}

.footer-meteor {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 1;
    & svg {
        height: 200px;
        width: 200px;
    }
}

.footer-links {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

    & a svg, & a svg path {
        color: beige;
        fill: beige !important;
        height: 24px;
        width: 24px;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-5px);
    }

    100% {
        transform: translatey(0px);
    }
}

@media (max-width: 500px) {
    body {
        padding: 0 1em;
    }
    .footer-setallite{
        margin-left: -1.5em;
    }
}
