@import url('https://fonts.googleapis.com/css2?family=Chango&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');

body {
    background: beige;
    color: #030303;
    padding: 0 1em;
}

* {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    margin: auto;
    max-width: 1300px;
}

.intro-section h1 {
    box-shadow: 0 -12px 0 0 #eab464cf inset;
    display: inline-block;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: #F9E386;
        box-shadow: 0 -32px 0 0 #2B2202 inset;
    }
}

.intro-section p {
    font-size: 1.25em;
}

.text-content {
    max-width: 640px;
    text-align: balanced;
}

.dfihighlight {
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #26804a;
    box-shadow: 0px -16px 0px 0px #4ea57130 inset;
}

.dfihighlight a {
    color: unset;
    text-decoration: none;
}

#text {
    display: inline-block;
    padding: 0 4px;
    font-weight: 600;
    background: #2660A4;
    color: #EDF7F6;
}

.blog-section{
    margin: 4em 0;
}

.blog-card {
    min-width: 280px;
    display: inline-block;
    padding: 1em;
    border: 10px solid rgb(237 181 38);
    border-radius: 10px;
    background: rgb(252 219 138);
    color: rgb(237 181 38);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-card-thumbnail {
    margin-top: 1em;
    padding: 6px;
    background: rgb(255 244 225);
    overflow: hidden;
    border: 3px solid rgb(237 181 38);
    border-radius: 5px;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #3B252C;
}

.blog-card-content {
    margin: 1em 0;

    & a{
        color: inherit;
        text-decoration: none;
    }
}

.blog-card-title {
    background: rgb(237 181 38);
    color: beige;
    padding: 4px 8px;
    border-radius: 10px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
}

.blog-card-desc {
    background: rgb(255 244 225);
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 12px;
}
.blog-card-time{
    font-size: 12px;
    text-align: right;
}