@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Space+Mono&display=swap');

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
}

body {
  margin: 0;
  font-family: "Share Tech Mono", monospace;
  font-family: "Space Mono", monospace;

  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0;
}

main {
  max-width: 720px;
  padding: 20px;
  margin: 0 auto;
  color: #2B2202;
  background-color: #F9E386;
  background: #2B2202;
  color: #F9E386;
}

section {
  margin: 2em 0;
}

.header {}

h1 {
  font-size: 2.5em;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.navbar {
  border-bottom: 0.1px solid #909090;
  padding: 1em 0;

  & ul {
    display: flex;
    gap: 3em;
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      cursor: pointer;
    }
  }
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.post-list-item {
  background: #3E7C59;
  max-width: 342px;
  overflow: hidden;

  &>div:first-of-type>p {
    background: #3E7C59;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  & div:nth-of-type(2) p {
    font-size: 12px;
    padding: 4px 8px;
  }

  img {
    width: 100%;
  }

  .read-post {
    justify-self: end;
    padding: 0 8px;
    padding-bottom: 4px;

    a {
      font-size:14px;
      position: relative;
      padding-left: .6em;
      color: unset;
      text-decoration: none;

      &:hover {
        color: #F2C94C;
        text-decoration: underline;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 52%;
        transform: translateY(-40%);
        /* left border is wide & colored → triangle points right */
        border-width: 0.3em 0 0.3em 0.5em;
        border-style: solid;
        border-color: transparent transparent transparent currentColor;
        opacity: 0;
      }

      &:hover::before {
        opacity: 1;
        transform: translateY(-40%) translateX(-4px);
      }

    }
  }
}