@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Space+Mono&display=swap');

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* max-width: 1280px; */
}

body {
  margin: 0;
  font-family: "Share Tech Mono", monospace;
  font-family: "Space Mono", monospace;
  cursor: url('./assets/heart.svg') 0 0, auto;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0;
}

main {
  /* max-width: 720px; */
  min-height: 90vh;
  /* padding: 20px; */
  margin: 0 auto;
  color: #2B2202;
  background: #CFE4C5;
  color: #000;
}

section {
  margin: 2em 0;
}

.header {}

.folder-icon {
  color: #000;
  width: min-content;
  display: flex;
  flex-direction: column;
  place-items: center;

  svg {
    fill: #FBCF51;
  }
}

.navbar{
  font-size: 12px;
  padding: 4px 4px;
  background: linear-gradient(#EAEAE8, #C2C4C4)
}