@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Space+Mono&display=swap');

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  max-width: 720px;
  padding: 20px;
  margin: 0 auto;
  color: #F9E386;
  background: #2B2202;
}

.container p {
  margin: 0;
}

.section {
  margin: 2em 0;
}

.header {
  margin: 2em 0;
}

.header h1 {
  font-size: 2.5em;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.navbar {
  border-bottom: 0.1px solid #909090;
  padding: 1em 0;
}

.navbar ul {
  display: flex;
  gap: 3em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}

.dfihighlight {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #de5757;
  box-shadow: 0px -16px 0px 0px #de575761 inset;
}

.dfihighlight a {
  color: unset;
  text-decoration: none;
}